.container {
  background-color: white;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.2fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.02fr 0.4fr 0.02fr 0.5fr;
  grid-template-areas:
    "header header header"
    "small-line big-line1 big-line1"
    "sidebar1 img1 img2"
    "small-line2 big-line2 big-line2"
    "sidebar2 paragraph paragraph";
  grid-gap: 0.7rem;
  justify-content: center;
}

#header {
  grid-area: header;
  background-color: white;
  justify-items: center;
  align-items: center;

}

#header h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 530;
  font-size: 5vw;
  color: #909090;
  text-align: left;
  position: absolute;
  letter-spacing: 1pt;
  padding-top: 0.1%;
  padding-right: 70%;
  padding-left: 8.5%;
  padding-bottom: 9%;
  margin: auto;
  justify-items: center;
  align-items: center;
}

#header h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 3vh;
  color: #319dbb;
  text-align: left;
  position: absolute;
  letter-spacing: 0.5pt;
  padding-top: 5%;
  padding-left: 17.5%;
  padding-right: 70%;
  margin: auto;
  justify-items: center;
  align-items: center;
}

#header img {
  float: left;
  height: 100%;
  width: 15%;
  padding-top: 0.5%;
  padding-bottom: 1%;
  justify-items: center;
  align-items: center;
}

#small-line {
  grid-area: small-line;
  background-color: #c1c1c1;
  justify-items: center;
  align-items: center;
  height: 2vh;
  width: 20vw;
  justify-items: center;
  align-items: center;
}

#big-line1 {
  grid-area: big-line1;
  background-color: #a30607;
  justify-items: center;
  align-items: center;
  height: 2vh;
  width: 78vw;
  justify-items: center;
  align-items: center;
}

#sidebar1 {
  grid-area: sidebar1;
  color: white;
  background-color: #319dbb;
  justify-items: center;
  align-items: center;
  height: 42.5vh;
  width: 20vw;
  justify-items: center;
  align-items: center;
}

#sidebar1 a {
  font-size: 3vh;
  color: #d5fdfe;
  display: block;
  padding: 3% 2% 2% 2%;
  margin: auto;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.5s;
  justify-self: center;
}

#sidebar1 a:hover {
  color: rgb(233, 229, 229);
}

#img1 {
  background-color: white;
  grid-area: img1;
  justify-items: center;
  align-items: center;
  justify-items: center;
  align-items: center;
}
#img1 img {
  object-fit: fill;
  height: 42.5vh;
  width: 100%;
  margin: auto;
}

#img2 {
  grid-area: img2;
  background-color: white;
  justify-items: center;
  align-items: center;
  justify-items: center;
  align-items: center;
}
#img2 img {
  object-fit: fill;
  height: 42.5vh;
  width: 100%;
  margin: auto;
}

#small-line2 {
  grid-area: small-line2;
  background-color: #c1c1c1;
  justify-items: center;
  align-items: center;
  height: 2vh;
  width: 20vw;
  justify-items: center;
  align-items: center;
}

#big-line2 {
  grid-area: big-line2;
  background-color: #1c6bb7;
  justify-items: center;
  align-items: center;
  height: 2vh;
  width: 78vw;
  justify-items: center;
  align-items: center;
}

#sidebar2 {
  grid-area: sidebar2;
  color: white;
  background-color: #d76668;
  justify-items: center;
  align-items: center;
  height: 42.5vh;
  width: 20vw;
  justify-items: center;
  align-items: center;
}
#sidebar2 a {
  font-size: 3vh;
  color: #d5fdfe;
  display: block;
  padding: 3% 2% 2% 2%;
  margin: auto;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.5s;
  justify-self: center;
 
}

#sidebar2 a:hover {
  color: rgb(233, 229, 229);
}
#paragraph {
  grid-area: paragraph;
  background-color: white;
  justify-items: center;
  align-items: center;
}
#paragraph p {
  font-size: 2.5vh;
  color: #319dbb;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2;
}
