
.container {
  background-color: white;
  height: 800px;
  width: 1430px;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 140px 12px 280px 12px 280px 1px;
  row-gap: 12px;
  column-gap: 12px;
}

.item {
  background-color: white;
}

.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}
.header h1 {
  text-align: left;
  color: #909090;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  position: absolute;
  top: -35px;
  left: 120px;
  letter-spacing: 1pt;
}
.header h4 {
  text-align: left;
  color: #319dbb;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  top: 40px;
  left: 225px;
}
.header img {
  float: left;
  height: 150px;
  width: 200px;
  padding-top: 0.5px;
}

.small-line {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #c1c1c1;
}
.sidebar1 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #319dbb;
}

.sidebar1 ul {
  color: white;
}

.sidebar1 a {
  font-size: 20px;
  color: #d5fdfe;
  display: block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.5s;
}

.sidebar1 a:hover {
  color: rgb(233, 229, 229);
}

.small-line2 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #c1c1c1;
}
.sidebar2 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #d76668;
}
.sidebar2 ul {
  color: white;
}

.sidebar2 a {
  font-size: 20px;
  color: #d5fdfe;
  display: block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.5s;
}

.sidebar2 a:hover {
  color: rgb(233, 229, 229);
}

.big-line1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #a30607;
}

.img1 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.img1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.img2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.big-line2 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #1c6bb7;
}

.paragraph {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 5;
}
.paragraph p {
  font-size: 20px;
  color: #319dbb;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2;
}
