.rating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
  }
  
  .rating input{
    display: none;
  }
  
  .rating label{
    display: block;
    cursor: pointer;
    width: 50px;
    background: transparent;
  }
  
  .rating label::before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 30px;
    color: rgb(143, 143, 134);
  }
  
  .rating label::after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 30px;
    color: rgb(245, 245, 10);
    top: 0;
    opacity: 1;
    transition: .5s;
  }
  
  .rating label:hover::after ,
  .rating input:checked ~ label::after{
    opacity: 1;
  }