* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  list-style: none;
}

.wrapper {
  padding-top: 3px;
  width: 1003px;
  margin: auto;
}

/* colors css */

.first-bar {
  display: flex;
  justify-content: space-between;
  word-spacing: 3px;
  padding: 3px;
}

.yellow {
  color: #fd9b05;
}

.grey {
  color: #3b3b3b;
}

.black {
  color: black;
}

.light-yellow {
  color: #f7e9cc;
}

.white {
  color: #eaeaea;
}

.light-grey {
  color: rgb(125, 124, 124);
}

.back-yellow {
  background-color: #fd9b05;
}

.back-grey {
  background-color: #292828;
}

.back-light-grey {
  background-color: #666464;
}

.back-grey-categories {
  background-color: rgb(59, 58, 58);
}

.back-white-grey {
  background-color: rgba(228, 224, 224, 0.863);
}

/* first-bar css */

.left i {
  font-weight: 700;
  font-size: 15px;
}
.left a {
  font-weight: 300;
  font-size: 15px;
}

.right-side {
  display: flex;
}

.menu select {
  border-style: none;
  text-align: center;
}

.right h4 {
  padding-left: 3px;
  padding-right: 3px;
}

/* hr row css */

.row {
  margin: 3px;
}

/* header css */

.left-side {
  display: flex;
}

.left-side h1 {
  font-size: 49px;
  padding-top: 5px;
  font-weight: 700;
}

.bottomleft {
  position: relative;
  top: 39px;
  left: 4px;
  font-size: 14px;
  font-weight: 100;
  word-spacing: 0px;
  color: gray;
}

.border-radius {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.vl {
  border-left: 1px solid gray;
  margin: 7px;
  height: 50px;
}

.button {
  border: none;
  margin: 15px;
  margin-right: -1px;
  padding-left: 8px;
  padding-right: 9px;
  font-size: 12px;
  border-radius: 5px;
}

.user-icon {
  color: #3b3b3b;
  margin-right: 2px;
}

.lock-icon {
  color: #fd9b05;
  margin: 3px;
}

/* search-bar css */

.categories-bar {
  display: flex;
  position: relative;
  width: fit-content;
  block-size: fit-content;
  background-color: rgb(54, 54, 54);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.label-categories {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  width: 250px;
  border-top-left-radius: 10px;
}

.serach-bar {
  display: flex;
  width: 751px;
  height: 40px;
  border-top-right-radius: 5px;
  justify-content: space-around;
}

.search-box {
  display: flex;
  width: 550px;
  height: 40px;
  justify-content: space-around;
  margin-top: 9px;
  margin-right: 13px;
  padding-left: 33px;
}

.input-wrapper {
  width: 390px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4px;
}

.input-wrapper i {
  padding-left: 10px;
  color: rgb(177 167 167);
}

.input-wrapper input {
  border: none;
  outline: none;
  border-radius: 3px;
}

.search-box button {
  width: 57px;
  height: 26px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.shopping-wrapper {
  width: 256px;
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 13px;
  border-top-right-radius: 10px;
}

.shopping-wrapper i {
  font-size: 20px;
}

.shopping-wrapper input {
  border: none;
  outline: none;
  border-top-right-radius: 10px;
}

.shopping-wrapper p {
  margin-left: 11px;
  margin-right: 6px;
}
/* 
.categories-container {
  position: relative;
  display: inline-block;
}

.categories-container li {
  font-size: 15px;
  padding: 10px;
  text-align: inherit;
  border-bottom: 1px solid rgb(19, 18, 18);
  cursor: pointer;
  
}

.categories-container li:hover {
  background-color: #fd9b05;
}

.dropdownbtn:active{
  background-color: #666464;
}

.dropdown-content {
  display: none;
  position: relative;
}

.dropdown-content li {
  color: white;
  background-color: #3b3b3b;
  border-style: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content :hover .categories-container {
  background-color: #3b3b3b;
}

.dropdown-content li:hover {
  background-color: #3b3b3b;
  color: #fd9b05;
}

.dropdown:hover .dropdownbtn .categories-container {
    background-color: #3b3b3b;
  } */

/* sidebar-categories css */

.sidenavbar {
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
}

.sidenavbar a,
.dropdown-btn {
  text-decoration: none;
  font-size: 15px;
  color: #ddd9d9;
  display: block;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border-bottom: 1px solid rgb(19, 18, 18);
  width: 250px;
  text-align: inherit;
  padding: 14px;
  padding-left: 15px;
}

.dropdown-container {
  display: none;
  background-color: #3b3b3b;
}

.dropdown-container a {
  border-style: none;
  font-size: 15px;
  padding-left: 40px;
}

.sidenavbar a:hover,
.dropdown-btn:hover {
  background-color: #fd9b05;
}

.active {
  background-color: #fd9b05;
  color: white;
}

.dropdown-container a:hover {
  background-color: #3b3b3b;
  color: #fd9b05;
}

.fa-angle-down {
  float: right;
  padding-right: 8px;
}

.border-radius {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* carousel css */

.carousel-wrapper {
  width: 719px;
  height: 250px;
  margin: auto;
  position: relative;
  display: block;
  top: 28px;
  left: 129px;
}

.img-container {
  position: relative;
  display: block;
  left: 10px;
}
.img-container img {
  width: 719px;
  height: 250px;
  position: absolute;
}

.img-container:after {
  width: 719px;
  height: 250px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to left,
    rgb(60, 60, 59) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.angle-right {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 100px;
  right: 10px;
}

.text-white {
  position: absolute;
  top: 20px;
  right: 35px;
  color: rgb(250, 246, 246);
  font-size: 37px;
  font-weight: 700;
}

.text-yellow {
  position: absolute;
  top: 63px;
  right: 35px;
  color: #fd9b05;
  font-size: 28px;
  font-weight: 700;
}

.text-red {
  position: absolute;
  top: 90px;
  right: 35px;
  color: #fd0505;
  font-size: 55px;
  font-weight: 700;
}

.p-white {
  position: absolute;
  top: 155px;
  right: 35px;
  color: rgb(250, 246, 246);
  font-size: 10px;
  font-weight: 700;
  text-align: right;
}

.shop-now {
  position: absolute;
  top: 176px;
  right: 35px;
  border: none;
  margin: 15px;
  font-size: 14px;
  border-radius: 6px;
  width: 161px;
  height: 37px;
}

/* card-box */

.card-box {
  position: relative;
  display: block;
  top: 40px;
  left: 263px;
}
.card-inner {
  display: flex;
  padding: 11px;
}

.card-inner img {
  width: 145px;
  height: 104px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-text {
  width: 208px;
  padding: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-text h2 {
  font-size: 21px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.4px;
}

.card-text p {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
}

/* featured product bar  and seller bar*/
.white-bar {
  position: relative;
  font-size: 15px;
  padding: 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 700;
  border-bottom: rgb(203, 200, 200) 1px solid;
  border-right: rgb(203, 200, 200) 1px solid;
}
.featured-product-bar {
  width: 728px;
  top: 52px;
  left: 274px;
}

.best-sellar-bar {
  width: 250px;
  top: 68px;
  position: relative;
}

/* seller cards */
.seller-part {
  position: absolute;
}
.seller-card-box {
  display: block;
  position: relative;
  top: 75px;
}

.seller-card {
  display: flex;
  padding: 12px 2px;
}

.left-seller img {
  width: 90px;
  height: 90px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: rgb(203, 200, 200) 1px solid;
  padding: 12px;
}

.right-part {
  width: 145px;
  padding: 10px;
}

.right-part p {
  font-size: 9px;
  padding: 3px;
}

.right-part h4 {
  color: #fd9b05;
}

.seller-button {
  top: 65px;
  padding: 15px 2px;
  position: relative;
}

.seller-button button {
  border: none;
  border-bottom: rgb(181, 179, 179) 0.1px solid;
  border-right: rgb(181, 179, 179) 0.1px solid;
  width: 140px;
  font-weight: 700;
  padding: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* featured product bar and cards */

.featured-card-box {
  position: relative;
  top: 63px;
  left: 250px;
}

.featured-card {
  padding: 11px;
}
.left-featured img {
  width: 227.5px;
  height: 221px;
  border: rgb(203, 200, 200) 1px solid;
  padding: 11px;
}
.right-featured {
  width: 210px;
  padding: 2px;
}
.right-featured p {
  font-size: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.button-part {
  display: flex;
}
.button-part i {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
  padding: 5px;
}
.button-part button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: none;
  padding: 5px;
}
.yellow-button {
  margin-right: 6px;
}
.box-shadow {
  box-shadow: 2px 2px 2px rgb(211, 211, 211);
}

.row-card {
  display: flex;
  padding: 1px 15px;
}

/* addvertisement card */

.add-card {
  top: 75px;
  width: 220px;
  padding: 22px 2px;
  position: relative;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.add-card img {
  width: 180px;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.add-card p {
  padding: 11px 8px;
  font-size: 13px;
  text-transform: uppercase;
}

.add-card button {
  padding: 5px;
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* bottom part */

.bottom {
  position: absolute;
}
.cards-box {
  top: 120px;
  right: 27px;
  position: relative;
  display: flex;
}
.btm-card {
  position: relative;
  display: flex;
  border: rgb(203, 200, 200) 1px solid;
  padding: 8px 5px 5px 6px;
  margin-left: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 319px;
}

.left-part img {
  width: 110px;
  height: 100px;
  margin-top: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.right-text {
  padding: 2px 0px;
}
.right-text h4 {
  padding: 2px 11px;
  font-weight: 700;
}
.right-text p {
  font-size: 11px;
  padding: 2px 11px;
  font-weight: 600;
}

.row2 {
  top: 265px;
  /* margin: 3px; */
  position: relative;
  width: 1006px;
}

/* column list */
.list-box {
  display: flex;
  top: 285px;
  position: relative;
}

.col-2 li {
  padding: 5px;
  text-decoration: none;
}

.col-2 ul {
  position: relative;
  font-size: 12px;
  right: 11px;
  padding: 7px;
  margin-right: 80px;
}

.icon {
  padding-right: 5px;
  font-weight: 700;
  font-size: 15px;
}

.size{
  position: relative;
  font-size: 12px;
  padding: 7px;
  right: 6px;
  font-weight: 300;

}
.margin{
  margin-left: 110px;
}
